<!DOCTYPE html>
<html>
    <head>
        <link rel='stylesheet'
              type='text/css'
              href='{{ url_for("static", filename="css/style.css") }}'>

    </head>
    <body>
        <nav class='navbar'>
            <url class='left'>
                    <li><a href='#' class='name'> + New Note</a></li>
            </url>
            <url class='right'>
                    <li><a href='#'> + New Note</a></li>
            </url>
        </nav>
    {% block content %}
    {% endblock %}

    </body>
</html>